/* Background color palette */
.soft-black     { background-color: #222222; }
.dark-gray      { background-color: #9B9B9B; }
.light-gray     { background-color: #D4D4D4; }
.soft-white     { background-color: #F9F9F9; }
.white          { background-color: #FFFFFF; }
.light-orange   { background-color: #F01F0E; }
.dark-orange    { background-color: #DB3022; }
.green          { background-color: #2AA952; }
.red            { background-color: #CC0B04; }
.blue           { background-color: #1C3391; }
.orange         { background-color: #F67B02; }
.pink           { background-color: #E31F51; }

/* Text color palette */
.text-soft-black    { color: #222222; }
.text-dark-gray     { color: #9B9B9B; }
.text-light-gray    { color: #D4D4D4; }
.text-soft-white    { color: #F9F9F9; }
.text-white         { color: #FFFFFF; }
.text-light-orange  { color: #F01F0E; }
.text-dark-orange   { color: #DB3022; }
.text-green         { color: #2AA952; }

/* Metropolis font */
/* Thin */
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
}
/* Extra Light */
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-ExtraLight.otf') format('opentype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-ExtraLightItalic.otf') format('opentype');
    font-weight: 200;
    font-style: italic;
}
/* Light */
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
}
/* Regular */
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}
/* Medium */
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
}
/* Semi Bold */
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-SemiBold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-SemiBoldItalic.otf') format('opentype');
    font-weight: 600;
    font-style: italic;
}
/* Bold */
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}
/* Extra Bold */
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
}
/* Black */
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: "Metropolis";
    src: url('/assets/fonts/metropolis/Metropolis-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
}

/* Apply custom font */
* {
    font-family: 'Metropolis';
    font-weight: 400;
}